<%= render(Bali::Table::Component.new) do |c| %>
  <%= c.with_headers([
          { name: t('documentation.file.name') },
          { name: t('documentation.file.type') },
          { name: t('documentation.file.uploaded_at') },
          { name: '' }
        ]) %>
  <% c.with_no_records_notification do %>
    <%= render Bali::Icon::Component.new('alert-alt') %>
    <p><%= t('no_records_found') %></p>
  <% end %>
  <% files.each do |file| %>
    <%= c.with_row(id: dom_id(file)) do %>
      <td>
        <%= render(Bali::Link::Component.new(name: file.blob.filename,
                                             href: main_app.url_for(file),
                                             icon_name: 'download',
                                             type: :primary,
                                             class: class_names('is-flex-grow-1 is-light is-radiusless'))) %>
      </td>
      <td>
        <%= page.file_extension(file) %>
      </td>
      <td>
        <%= l(file.created_at, format: :date_twelve_hours) %>
      </td>
      <td>
        <% if policy(page).can_destroy_files? %>
          <%= render(Bali::DeleteLink::Component.new(href: page_file_path(@page, file),
                                                     name: render(Bali::Icon::Component.new('trash')))) %>
        <% end %>
      </td>
    <% end %>
  <% end %>
<% end %>
