<%= content_for :app_frame_class, 'without-menu' %>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">Workspaces</h1>
  </div>

  <div class="level-right">
    <%= link_to "New Workspace", new_workspace_path, class: 'button is-primary', data: { action: 'modal#open' } %>
  </div>
</div>

<hr class="mb-6" />

<div class="columns is-multiline">
  <% @workspaces.each do |workspace| %>
    <div class="column is-one-quarter">
      <div class="box is-fullheight">
        <h1 class="title is-3">
          <%= link_to workspace.name, workspace_path(workspace) %>
        </h1>

        <%= link_to 'Permissions', workspace_permissions_path(workspace), data: { action: 'modal#open' } %>
      </div>
    </div>
  <% end %>
</div>

<hr class="mb-6" />

<div>
  <%= link_to main_app.root_path, class: 'vh-centered inline' do %>
    <%= icon_tag('arrow-left') %>
    <span>Back to main App</span>
  <% end %>
</div>
