<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.slim_select_group :parent_id, @pages.map {|p| [p.title, p.id] }, include_blank: 'Select page parent', label: false %>
  <%= form.text_field_group :title, label: false, placeholder: 'Title', class: 'is-large' %>
  <%= form.text_field_group :description, label: false, placeholder: 'Description' %>

  <div
    data-turbo-cache="false"
    class="rich-text-editor-component input mb-4 rich-editor-content"
    data-controller="rich-text-editor"
    data-rich-text-editor-content-value='<%= page.content %>'
    data-rich-text-editor-placeholder-value='Write page content here...'
  >
    <div class="rich-text-editor-menu" data-rich-text-editor-target="bubbleMenu">

      <div class="dropdown" data-controller="dropdown" data-rich-text-editor-target="nodeSelect">
        <div class="dropdown-trigger">
          <a data-action="dropdown#toggleMenu rich-text-editor#closeLinkPanel">
            <span class="text" data-rich-text-editor-target="nodeSelectTrigger">Text</span>
            <%= icon_tag('chevron-down', class: 'toolbar-icon') %>
          </a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content">
            <a class="text dropdown-item" data-action="rich-text-editor#setParagraph" data-rich-text-editor-target="text">Text</a>
            <a class="h1 dropdown-item" data-action="rich-text-editor#toggleH1" data-rich-text-editor-target="h1">Heading 1</a>
            <a class="h2 dropdown-item" data-action="rich-text-editor#toggleH2" data-rich-text-editor-target="h2">Heading 2</a>
            <a class="h3 dropdown-item" data-action="rich-text-editor#toggleH3" data-rich-text-editor-target="h3">Heading 3</a>
            <a class="ul dropdown-item" data-action="rich-text-editor#toggleBulletList" data-rich-text-editor-target="ul">Bulleted list</a>
            <a class="ol dropdown-item" data-action="rich-text-editor#toggleOrderedList" data-rich-text-editor-target="ol">Ordered list</a>
            <a class="blockquote dropdown-item" data-action="rich-text-editor#toggleBlockquote" data-rich-text-editor-target="blockquote">Quote</a>
          </div>
        </div>
      </div>

      <div class="dropdown" data-controller="dropdown" data-dropdown-close-on-click-value="false" data-rich-text-editor-target="linkPanel">
        <div class="dropdown-trigger">
          <a class="link" data-action="dropdown#toggleMenu rich-text-editor#openLinkPanel">
            <span>Link</span>
            <%= icon_tag('arrow-right-up', class: 'toolbar-icon') %>
          </a>
        </div>
        <div class="dropdown-menu">
          <div class="dropdown-content link-panel">
            <div contenteditable="true" class="input is-small"
                 placeholder="Ingresa la URL"
                 data-rich-text-editor-target="linkInput" data-action="keydown->rich-text-editor#saveLinkUrl"></div>
          </div>
        </div>
      </div>

      <a class="bold" data-action="rich-text-editor#toggleBold" data-rich-text-editor-target="bold">B</a>
      <a class="italic" data-action="rich-text-editor#toggleItalic" data-rich-text-editor-target="italic">I</a>
      <a class="underline" data-action="rich-text-editor#toggleUnderline" data-rich-text-editor-target="underline">U</a>
    </div>
    <div data-rich-text-editor-target="tippy"></div>
    <%= form.hidden_field :content, 'data-rich-text-editor-target': 'output' %>
  </div>

  <%= form.submit_actions 'Guardar', class: 'button is-primary' %>
<% end %>
