<div id="<%= dom_id page %>">
  <div class="mb-2">
    <h1 class="title page-title is-1"><%= page.title %></h1>
    <p class="subtitle"><%= page.description %></p>
  </div>

  <hr class="is-hidden-print mt-1" />

  <% if policy(page).edit? || policy(page).destroy? %>
    <div class="is-hidden-print">
      <% if policy(page).edit? %>
        <%= link_to render(Bali::Icon::Component.new('edit')) + 'Edit', edit_workspace_page_path(@workspace, page) %>

        |

        <%= link_to render(Bali::Icon::Component.new('print')) + 'Print', workspace_page_path(@workspace, page, print: true), target: '_blank' %>

        |

        <%= render Bali::Dropdown::Component.new do |c| %>
          <%= c.with_trigger do %>
            <%= render Bali::Icon::Component.new('arrow-right') %>
            <span>Transfer to another workspace</span>
          <% end %>

          <% (@workspaces - [@workspace]).each do |workspace| %>
            <%= c.with_item(
                href: workspace_page_transfer_path(
                  @workspace, page, { page: { documentation_workspace_id: workspace.id } }
                ),
                data: { 'turbo-method' => :put }) do %>
              <%= workspace.name %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% if policy(page).destroy? %>
        |

        <%= link_to render(Bali::Icon::Component.new('trash')) + 'Delete', workspace_page_path(@workspace, page), class: 'has-text-danger',
            data: { 'turbo-confirm' => '¿Estás seguro?', 'turbo-method' => :delete } %>
      <% end %>
    </div>

    <hr/>
  <% end %>

  <%= render Bali::RichTextEditor::Component.new(
      html_content: page.content, editable: false, class: 'mb-4', data: { 'data-turbo-temporary': true }) %>

</div>

<div class="is-hidden-print">
  <hr />

  <small>
    <%= t('documentation.page.latest_update_date') %>: <%= l(page.updated_at, format: :date_twelve_hours) %>
  </small>
</div>
