<%= render 'documentation/workspaces/menu', pages: @root_pages %>

<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_with_icon "Cancel", 'arrow-back', workspace_page_path(@workspace, @page) %></li>
      </ul>
    </nav>
  </div>

  <div class="level-right">
    <%= link_to page_images_path(@page), class: 'button is-primary',
        data: { action: 'modal#open', 'wrapper-class': 'extra-wide' } do %>
      <%= icon_tag('image') %>
      <span>Images</span>
    <% end %>
  </div>
</div>

<%= render "form", page: @page %>

<small>Fecha de última actualización: <%= @page.latest_update_date %></small>
