<%= render 'documentation/workspaces/menu', pages: @root_pages %>

<div class="level">
  <div class="level-left">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_with_icon "Cancel", 'chevron-left', workspace_page_path(@workspace, @page) %></li>
      </ul>
    </nav>
  </div>

  <div class="level-right">
    <%= link_to page_images_path(@page), class: 'button is-primary',
        data: { action: 'modal#open', 'wrapper-class': 'extra-wide' } do %>
      <%= render Bali::Icon::Component.new('image') %>
      <span>Images</span>
    <% end %>
  </div>
</div>

<%= render "form", page: @page %>

<small><%= t('documentation.page.latest_update_date') %>: <%= l(@page.updated_at, format: :date_twelve_hours) %></small>
