<p style="color: green"><%= notice %></p>

<div class="level">
  <div class="level-left">
    <h1 class="title is-1">Pages</h1>
  </div>

  <div class="level-right">
    <%= link_to "New page", new_page_path, class: 'button is-primary' %>
  </div>
</div>

<div id="pages">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @pages.walk_tree do |page, level| %>
        <tr>
          <td><%= link_to "#{'-'*level} #{page.title}", page %></td>
          <td class="is-narrow">
            <%= link_to icon_tag('edit'), edit_page_path(page) %>
            <%= link_to icon_tag('plus'), new_page_path(parent_id: page.id) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
