<!DOCTYPE html>
<html>
  <head>
    <title>Documentation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "documentation/application", media: "all" %>
    <%= javascript_include_tag "documentation/application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body>

    <section class="section">
      <div class="container <%= yield :container_class %>">
        <%= render 'layouts/documentation/notifications' %>

        <%= yield %>
      </div>
    </section>

  </body>
</html>
