<!DOCTYPE html>
<html>
  <head>
    <title>Documentation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "documentation/application", media: "all" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <section>
        <div class="container" data-controller="print">
          <div class="columns">
            <div class="column is-full">
              <%= yield %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
